:root {
	--col-dark: #24232c;
	--col-black: #18171f;
	--col-gray: #817d92;
	--col-white: #e6e5ea;
	--col-yellow: #f8cd65;
	--col-orange: #fb7c58;
	--col-red: #f64a4a;
	--col-green: #a4ffaf;

	--ff-primary: 'JetBrains Mono';
	--ff-fallback: monospace;
}
*,
*:after,
*:before {
	box-sizing: border-box;
}

.flex {
	display: flex;
}
.column {
	flex-direction: column;
}
.centered {
	align-items: center;
}
.heading-lg {
	font-size: 2rem;
}
.heading-md {
	font-size: 1.5rem;
}
/* .body-md {

} */

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--col-black);
	color: var(--col-white);
	font-family: var(--ff-primary), var(--ff-fallback);
	font-size: 1rem;
}

.main-container {
	padding: 1rem;
}
.heading {
	text-align: center;
}
.pw-copy,
.pw-body {
	padding: 1rem;
	background-color: var(--col-dark);
	width: 375px;
	max-width: 100%;
}
.pw-copy {
	margin-bottom: 1.5rem;
	justify-content: space-between;
}
#password {
	font-size: 1.5rem;
	margin: 0;
}
#copy {
	background-color: var(--col-dark);
	border: none;
}
.pw-body {
	/* gap: 1rem; */
}
.sliderContainer {
	width: 100%;
	position: relative;
	margin-bottom: 2rem;
}
.charLength {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 0.75rem;
}
#value {
	color: var(--col-green);
}
.slider {
	width: 100%;
	cursor: pointer;
	appearance: none;
	height: 0.5rem;
	outline: none;
	background: linear-gradient(90deg, var(--col-black) 60%, var(--col-black) 60%);
}
.slider::-moz-range-thumb {
	width: 28px;
	height: 28px;
	background-color: var(--col-white);
	border-radius: 100%;
	cursor: pointer;
	transition: transform 1.5 ease-in-out;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 28px;
	height: 28px;
	background-color: var(--col-white);
	border-radius: 100%;
	cursor: pointer;
	transition: transform 0.2s ease-in-out;
}

.slider::-webkit-slider-thumb:hover,
.slider::-webkit-slider-thumb:active {
	background-color: var(--col-black);
	border: 1px solid var(--col-green);
}
.slider::-moz-range-thumb:hover,
.slider::-moz-range-thumb:active {
	background-color: var(--col-black);
	border: 1px solid var(--col-green);
}

#copy {
}
.pw-body {
}
.form-control {
	display: flex;
	gap: 1.125rem;
}
.form-control:nth-of-type(5) {
	margin-bottom: 1.5rem;
}
.strengthBox {
	background-color: var(--col-black);
	justify-content: space-between;
	margin-bottom: 1rem;
}
.checkedStrength {
}
.strBoxes {
	/* flex-wrap: wrap; */
	align-items: center;
	justify-content: space-around;
	gap: 0.5rem;
	padding: 1rem;
}
input[type='checkbox'] {
	accent-color: var(--col-green);
	width: 20px;
	height: 20px;
	margin-bottom: 1rem;
}
#strength {
	align-self: center;
	margin: 0 1rem;
}
#pwStrength {
	margin-block: 1.125rem;
}
#tooWeak1 {
	background-color: var(--col-yellow);
	border: none;
}
#weak2 {
	background-color: var(--col-yellow);
	border: none;
}
#medium3 {
	background-color: var(--col-yellow);
	border: none;
}
#strong4 {
}
.ltbox {
	width: 10px;
	height: 28px;
	border: 2px solid var(--col-white);
}
.button {
	width: 100%;
	height: 3.5rem;
	background-color: var(--col-green);
	font-family: var(--ff-primary);
	font-size: 1.125rem;
	justify-content: center;
	gap: 1.5rem;
}
